$charset: "UTF-8";

/***************** == Font *****************/
$font1: "Roboto", sans-serif;
$font2: "Roboto", sans-serif;

/****************** initial variables *******************/
$color0: black;
$color1: white;
$color2: green;
$color3: #a6671d;
$color4: rgba($color0, 0.8);
$color5: #d1d1d1;
$color6: #ececec;
$color6-invert: white;
$color7: #e3336d;
$color8: #f69029;

/****************** Derived variables *******************/
$primary: #e3336d;
$h1-color: $color0;
$header-title-color: $color1;
$header-background-left: $color7;
$header-background-right: $color8;
$link-color: $color0;
$post-informations-color: $color4;
$color-border: $color5;
$color-footer-bg: $color5;
$readmore-background: $primary;
$readmore-color: $color1;
$readmore-hover-background: darken($primary, 10);
$readmore-hover-color: $color1;
$pagination-color: $color0;
$pagination-background: $color5;
$pagination-hover-background: $primary;
$pagination-hover-color: $color1;

/************************************************/

// Point de rupture
$screen_lg: 1920px;
$screen_md: 1450px;
$screen_sm: 1000px;
$screen_xs: 768px;
$screen_xs2: 650px;
