$charset: "UTF-8";
@import "variables.scss";

header {
  background: linear-gradient(100deg, $color6, darken($color6, 5%)) !important;
  h1 {
    color: $color6-invert !important;
    font-weight: bold;
  }
  .header-title a {
    font-weight: bold;
    text-decoration: none;
    color: $color6-invert;
    font-size: 2.5rem;
    max-width: 90%;
    margin: 0 auto;
  }
}

.post-link a.read-more {
  color: $color6-invert !important;
  border-radius: 3px;
  padding: 10px !important;
  &:hover {
    background: lighten($color6, 10%) !important;
  }
}

.list-posts h2 a,
.recent-post a {
  text-decoration: none;
  color: $color0;
}

// le titre d'un post doit être une balise h1
.post.full .post-title h1 {
  text-align: left;
}

.post-detail {
  color: #222;
  letter-spacing: 0.4px;
  line-height: 25px;
  font-weight: 300;
  font-size: 16px;
}
