$charset: "UTF-8";
@import "variables.scss";

/*
header {
  
  h1 {
    color: white;
    font-weight: bold;
  }
  .header-title a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    max-width: 90%;
    margin: 0 auto;
  }
}

.list-posts h2 a,
.recent-post a {
  text-decoration: none;
  color: $color0;
}

// le titre d'un post doit être une balise h1
.post.full .post-title h1 {
  text-align: left;
}

.post-detail {
  color: #222;
  letter-spacing: 0.4px;
  line-height: 25px;
  font-weight: 300;
  font-size: 16px;
}

*/