$charset: "UTF-8";
$dir_font: "../fonts/";
$dir_img: "../images/";

/***************** == Font *****************/
$font1: "Roboto", sans-serif;
$font2: "Roboto", sans-serif;

/****************** == Color *******************/
$color0: black;
$color1: white;
$color2: green;
$color3: #a6671d;
$color4: rgba($color0, 0.8);
$color5: #d1d1d1;
$color6: #ececec;
$color6-invert: white;
$color7:#e3336d;
$color8:#f69029;

/****************** == Custom color *******************/
$color-h1:$color1;
$color-header-left:$color7;
$color-header-right:$color8;

/************************************************/

// Point de rupture
$screen_lg: 1920px;
$screen_md: 1450px;
$screen_sm: 1000px;
$screen_xs: 768px;
$screen_xs2: 650px;


