$charset: "UTF-8";

/***************** == Font *****************/
$font1: "Roboto", sans-serif;
$font2: "Roboto", sans-serif;

/****************** == Base color *******************/
$color0: black;
$color1: white;
$color2: green;
$color3: #a6671d;
$color4: rgba($color0, 0.8);
$color5: #d1d1d1;
$color6: #ececec;
$color6-invert: white;
$color7: #e3336d;
$color8: #f69029;

/****************** == Custom color *******************/
$color-h1: $color1;
$color-header-left: $color7;
$color-header-right: $color8;
$color-link: $color0; // item menu
$color-item: $color4; // item menu actif/hover
$color-item-hover: $color0;
$color-meta: $color4; // Date
$color-border: $color5;
$color-footer-bg: $color5;
$color-btn-txt: $color0; // couleur du texte du bouton
$color-btn-bg: $color-header-right; // couleur de fond du bouton
$color-bg-pagination: $color6;

/************************************************/

// Point de rupture
$screen_lg: 1920px;
$screen_md: 1450px;
$screen_sm: 1000px;
$screen_xs: 768px;
$screen_xs2: 650px;
