@import "./_variables.scss";

// all posts title in black.
.title > a {
  color: $black;
}

.hero,
.hero.is-small {
  .hero-body {
    text-align: center;
    padding-bottom: 80px;
    .title {
      font-weight: 800;
      a {
        font-weight: 800;
        color: $white;
      }
    }
  }
}

.post-list {
  .post:nth-child(even) {
    flex-direction: row-reverse;
  }
  .post {
    padding-bottom: 20px;
    .title {
      margin-bottom: 0;
    }
    .read-more {
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 0;
    }
  }
  .post-teaser {
    padding-top: 15px;
    text-align: justify;
  }
}

aside {
  .recent-posts {
    .block-title {
      text-transform: uppercase;
    }
    .post-title {
      margin-bottom: 0;
    }
  }
  .socials {
    .block-title {
      text-transform: uppercase;
    }
    padding-top: 30px;
  }
}

.post-detail {
  .date {
    margin-bottom: 30px;
  }
  .post-image {
    padding-bottom: 30px;
  }
  oembed {
    width: 100%;
  }
}

.date-clock {
  position: relative;
  top: 2px;
  padding-right: 5px;
}
