@import "./_variables.scss";

// all posts title in black.
.title > a {
  color: $black;
}

.hero,
.hero.is-small {
  background: linear-gradient(
    to right,
    $header-background-gradient-1,
    $header-background-gradient-2
  );
  .hero-body {
    text-align: center;
    padding-bottom: 80px;
    .subtitle {
      color: $white;
      max-width: 800px;
      margin: auto;
    }
    .title {
      font-weight: 800;
      color: $white;
      a {
        color: $white;
        font-weight: 800;
      }
    }
  }
}

.post-list {
  .post:nth-child(even) {
    flex-direction: row-reverse;
  }
  .post {
    padding-bottom: 30px;
    .title {
      margin-bottom: 0;
    }
    .read-more {
      color: $black;
    }
  }
  .post-teaser {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
  }
}

aside {
  .recent-posts {
    .block-title {
      position: relative;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        height: 4px;
        width: 60px;
        background: #d1d1d1;
        bottom: -10px;
        left: 0;
      }
    }

    .post-title {
      margin-bottom: 0;
    }
  }
  .socials {
    .block-title {
      text-transform: uppercase;
    }
    li {
      img {
        max-width: 70px;
      }
    }
    padding-top: 30px;
  }
}

.post-detail {
  .date {
    margin-bottom: 30px;
  }
  .post-image {
    padding-bottom: 30px;
  }
  oembed {
    width: 100%;
  }
}

.date-clock {
  position: relative;
  top: 1px;
  padding-right: 2px;
}

.content {
  // Bulma set img width to 100% by default, we dont want that.
  img {
    width: auto;
  }
}

.content {
  blockquote {
    background: scale-color($brand-color, $lightness: 95%);
    border-left: solid scale-color($brand-color, $lightness: 80%) 4px;
    border-radius: 5px;
  }
}
