/* litteral variables */
$black: #000;
$white: #fff;
$purple-heart: #563bd1;
$body-line-height: 1.8;

/* 
Bulma customization 
@see https://bulma.io/documentation/customize/variables/
*/
$primary: $purple-heart;
$link: $primary;
$title-weight: 400;
$content-heading-weight: $title-weight;
$navbar-item-color: $white;
$navbar-item-active-color: $navbar-item-color;
$navbar-item-hover-background-color: $primary;
$navbar-burger-color: $white;
