/* litteral variables */
$black: #000;
$white: #fff;
$flamingo: #ef473a;
$body-line-height: 1.8;
$header-background-gradient-1: #ff5f6d;
$header-background-gradient-2: #ef473a;

/* 
Bulma customization 
@see https://bulma.io/documentation/customize/variables/
*/
$primary: $flamingo;
$link: $primary;
$title-weight: 400;
$content-heading-weight: $title-weight;
$navbar-item-color: $white;
$navbar-item-active-color: $navbar-item-color;
$navbar-item-hover-background-color: $primary;
$navbar-burger-color: $white;
